@font-face{
	font-family: Geosans;
	src: url(/packages/fonts/GeosansLight.ttf);
}

.font-geosans{
	font-family: Geosans, Arial;
	font-size: 20px;
	margin-top: 18px;
}

.item-container{
	color: #333;
	position: relative;
	background-color: #eee;
	height: 160px;
	width: 160px;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	margin: 0 auto;
	transition: 0.5s;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
}

.item-container:hover{
	background-color: #e16f5c;
	color: white;
	cursor: pointer;
	transition: 0.5s;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
}


.item-container .image-container{
	position: absolute;
	top:8px;
	left:0;
	height: 112px;
	width: 100%;
}
.item-container .image-container img{
	width: 100%;
	height: 100%;
}
.item-container .text-container{
	font-family: Geosans, Arial;
	font-size: 16px;
	position: absolute;
	top:130px;
	left: 0;
}

.item-container .text-container span{
	margin-left: 10px;
}

.item-price{
	position: absolute;
	padding-right: 10px;
	top: -18px;
	left:0;
	text-align: right;
	font-size: 16px;
	width: 100%; height: 24px; 
	color: white;
	background: rgba(10, 10, 10, 0.6);
}

.margin-10{
	margin-top: 30px;
}

.shadow {
  -moz-box-shadow:    1px 1px 5px 6px #ccc;
  -webkit-box-shadow: 1px 1px 5px 6px #ccc;
  box-shadow:         1px 1px 5px 6px #ccc;
}
.one-edge-shadow {
	-webkit-box-shadow: 0 8px 6px -6px #333;
	   -moz-box-shadow: 0 8px 6px -6px #333;
	        box-shadow: 0 8px 6px -6px #333;
}