.list-date{
	float:right;
	font-size: 12px;
	color: #777;
	font-style: italic;
}

.icon-button-128{
	width:112px; height: 112px;
	text-align: center;
	line-height: 112px;
}

.icon-button-70{
	width:42px; height: 48px;
	text-align: center;
	line-height: 48px;	
	font-size:11px;
}

.custom-hr{
	border-top:1px solid #ccc;
}