html,body{
	background-color: #FFF;
}

/* Login Form */
.bc-login-form-container{
	background:#FF454B; 
	padding: 10px;
	border: 0px solid #FF454B;
	box-shadow: 0px;
	-webkit-box-shadow: inset 0 0px 0px ;
	-moz-box-shadow: inset 0 0px 0px ; 
}


.bc-login-form{
	background:#FF454B; 
	color: #e5e5e5; 
	padding: 20px; 
	padding-top:120px;
	border: 2px solid white;
}

.bc-login-form-logo{
	position:absolute;  
	width:42%; left:29%; right:29%; 
	height:10%; top:5%; bottom:85%;
}
	/* image logo */
	.bc-login-form-logo img{
		margin-left:10%; margin-right: 10%;
		height: 100%; width:80%;
	}

.bc-login-form-title{
	position:absolute;  
	width:60%; left:20%; right:20%; 
	height:10%; top:16%; bottom:74%;
	color: white;
	font-size: 20px;
	text-align: center; 
}

/* Web Page Banner */
.img-banner { width:200px; height: 20px;}
.img-banner img{ width:200px; height: 40px; position: absolute; top:3px;}

/* Customization */
.btn-icon{
	width: 52px; height: 52px;
	margin:4px;
	background-color:red;
}

.custom-divider{
	height: 1px;
  	margin: 9px 0;
  	overflow: hidden;
  	background-color: #e5e5e5;
}

.btn-icon-96{
	height: 96px;
	width: 96px;
	float: left;
	background: #aeaeae;
	margin: 5px;
	box-shadow: 1px 1px 1px #aaa;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius: 10px;
	transition: 0.5s; -webkit-transition: 0.5s; -moz-transition:0.5s;
	text-align: center;
	line-height: 96px;
	color:#333;
}
.btn-icon-96 span{
	text-align: center;
	line-height: 0px;
}
.btn-icon-96:hover{
	cursor: pointer;
	color: #eee;
	background: #FF262D;
	transition: 0.5s; -webkit-transition: 0.5s; -moz-transition:0.5s;
}

.btn-icon-160{
	height: 144px;
	width: 144px;
	float: left;
	background: #aeaeae;
	margin: 16px;
	box-shadow: 1px 1px 1px #999;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
	border-radius: 20px;
	transition: 0.5s; -webkit-transition: 0.5s; -moz-transition:0.5s;
	text-align: center;
	
	font-size: 18px;
	color:#333;
}

.btn-icon-160:hover{
	cursor: pointer;
	color: #eee;
	background: #FF262D;
	transition: 0.5s; -webkit-transition: 0.5s; -moz-transition:0.5s;
}
.btn-icon-160 i{
	margin-top: 6px;
	font-size:100px;
}

.cat-button{
	height:63px;
	width:63px;
	margin:4px;	
	background: #FF454B;
	text-align: center;
	line-height: 60px;
	color:#FFF;
	-webkit-transition:0.5s;-moz-transition:0.5s;transitions:0.5s;
	-webkit-border-radius: 8px; -moz-border-radius:8px;border-radius:8px;
	border: 1px solid #EBACA8;
	float:left;
}
.cat-button:hover{
	background: #767676;
	border: 1px solid #909090;
	color:#FFF;
	-webkit-transition:0.5s;
	cursor: pointer;
}
.cat-button:active{
	-webkit-box-shadow: inline 1px 1px 1px;
}
.cat-button span{
	font-size: 16px;
}

.icon-group-bg{
	background: #fff;
}

.icon-group-title{
	color: #565656; 
	text-shadow: 0px 0px 1px #999;
}

.header-text{
	color: #333; text-shadow: 1px 1px 1px #aaa;
}

@media print {
    .noprint {
        display: none;
    }
}

.bom_itemlist_container{
	height: 400px; 
	overflow: auto; 
	margin-top: 3px; 
	background: #e7e7e7;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

.bom-msg-box{
	position: absolute;
	top:7px; right:60px;
	color: #FF454B;
	display: none;
}

.bom-msg-box-success{
	color: #69ce3d;
}
